.jarallax {
  picture.jarallax-img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
