{
  "extends": [
    "plugin:shopify/esnext",
    "plugin:shopify/jquery",
    "plugin:shopify/node"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-unresolved": ["error", {"ignore": ["^jquery"]}],
    "no-alert": 0,
    "no-console": 0,
    "no-new": 0,
    "node/shebang": 0,
    "no-negated-condition": 0,
    "no-misleading-character-class": 0,
    "import/no-cycle": 0,
    "require-atomic-updates": 0,
    "prefer-object-spread": 0,
    "shopify/strict-component-boundaries": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "Shopify": true,
    "theme": true
  }
}
