{
  "extends": [
    "stylelint-config-shopify",
    "stylelint-config-prettier"
  ],
  "rules": {
    "color-no-hex": null,
    "selector-class-pattern": null,
    "selector-no-qualifying-type": null,
    "selector-max-attribute": 2,
    "selector-max-id": 3,
    "selector-max-class": 4,
    "selector-max-combinators": 4,
    "selector-max-compound-selectors": 4,
    "selector-max-empty-lines": 1,
    "selector-max-specificity": null,
    "selector-max-type": 4,
    "selector-max-universal": 1,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/at-extend-no-missing-placeholder": null,
    "function-url-scheme-whitelist": ["data", "/^http/"]
  }
}
