<div class="404--tpl container">
  <h1 class="section-title">{{ 'general.404.title' | t }}</h1>
  <p class="h1 text-center text-muted">404</p>
  <div class="text-center">{{ 'general.404.subtext_html' | t }}</div>
</div>
