<!-- /snippets/buy-on-button.liquid -->

{%- comment -%}
  Accepts:
  - type: [String] button type;
  - initSku: {String} Initial sku;

  Usage:
  In your liquid template file, copy the following line
  - {% include 'buy-on-button' with buttons: buttons, current: current %}
{%- endcomment -%}

<div class="buy-on-button--snippet">
  {% if type == 'amazon' %}
    {% assign amazonUrl = 'https://www.amazon.com/dp/' | append: initSku %}
    {% if settings.amazon_affiliate_code %}
      {% assign amazonUrl = amazonUrl | append: '?tag=' %}
      {% assign amazonUrl = amazonUrl | append: settings.amazon_affiliate_code %}
    {% endif %}
    <a type="button" class="buy-on-amazon-btn btn" href="{{ amazonUrl }}">
      {% include 'icon-amazon-btn' %}
      <span>
        VIEW ON
      </span>
    </a>
  {% endif %}
</div>
<script type='text/javascript'>
  function openUrl(url){ 
    window.open(url,'_blank')
  }
</script>
<style>
.buy-on-button--snippet {
  display: inline-block;
}
.buy-on-amazon-btn {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
  margin-top: 16px;
  margin-right: 16px;
  background: #353535;
  border-color: #222222;
}
.buy-on-amazon-btn:hover {
  box-shadow: 0 5px 10px 0 rgba(27, 35, 31, 0.2);
    color: #FFFFFF;
}
.buy-on-amazon-btn > span {
  position: absolute;
  top: 5px;
  left: 28px;
  font-weight: 600 !important;
  font-size: 12px;
  color: #FF9900 !important;
}
.icon-amazon {
  margin-left: 36px;
}
.icon-amazon .text {
  fill: #FFFFFF;
}
</style>
