@charset 'UTF-8';

// Settings
@import './variables';

// Tools
@import './tools/mixins';
@import './tools/functions';

// Core
@import './core/grid';
@import './core/helpers';
@import './core/media';
@import './core/rte';
@import './core/typography';
@import './core/layout';
@import './core/forms';

// Components
@import './components/buttons';
@import './components/icons';
@import './components/fancybox';

// Templates
@import './templates/index';

// Snippets
@import './snippets/social-sharing';

body.password-layout {
  height: 100vh;
  text-align: center;
  margin: 0;
  h1, h2, h3, .h1, .h2, .h3, .h4 {
    color: #FFFFFF;
  }
  .fancybox-content {
    max-width: $grid-small;
  }
}

.password-layout__wrapper {
  display: table;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0964/2474/t/2/assets/password-page-background.jpg?2027301311548540641");
  background-size: cover;
  background-repeat: no-repeat;
  @include overlay(-1, 0.7);
  color: #ffffff;
  a {
    color: #FFFFFF;
    &:hover {
      text-decoration: underline;
    }
  }
  header {
    text-align: center;
    display: table-row;
    height: 1px;
    .password__header--section {
      padding: $grid-gutter $grid-gutter * 2;
    }

    .password-link {
      margin: $grid-gutter 0;
    }
    .password-logo {
      margin-top: $grid-gutter * 4;
      svg {
        height: 30px;
      }
      .svg-logo-text {
        fill: #FFFFFF;
      }
    }
  }
  main {
    display: table-row;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .password__content--section {
      vertical-align: middle;
    }
    h2 {
      margin-top: 0;
    }
    .form-success {
      background: #FFFFFF;
    }
    input[type='email'] {
      text-align: center;
      &:focus {
        border-color: $color-accent;
      }
    }
  }
  footer {
    display: table-row;
    height: 50px;
  }
}

.password__content--section {
  .social-sharing__wrapper {
    margin-top: $grid-gutter * 2;
  }
  .password-customer-form {
    max-width: 500px;
    margin: 0 auto;
    @include media-query($small) {
      width: 90%;
    }
    button.btn-accent {
      width: 50%;
      @include media-query($small) {
        width: 100%;
      }
    }
  }
}

.password-footer {
  line-height: 20px;
  margin-top: $grid-gutter;
  color: $color-muted;
  > span, > a {
    display: inline-block;
    vertical-align: middle;
  }
  .shopify-link {
    padding: 0 3px;
  }
  svg {
    height: 20px;
    width: auto;
    display: block;
    path {
      transition: fill 0.6s $transition-timing;
    }
    &:hover {
      path {
        fill: $color-primary;
      }
    }
  }
}
