{% unless item.product.has_only_default_variant %}
                {% assign variantValues = item.variant.title | split: '/' %}
                {% for value in variantValues %}
                  {% assign option = item.product.options[forloop.index0] %}
                  <div>
                    <small class="text-muted">{{ option }}:</small>
                    {{ value }}
                  </div>
                {% endfor %}
                <p></p>
              {% endunless %}
