.article--tpl {
  .article__wrapper {
    @include clearfix;
    max-width: $grid-medium;
    margin: 0 auto;
  }
  .article-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
    border-radius: $border-radius-big;
    overflow: hidden;
    margin-bottom: $grid-gutter * 1.5;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(22, 27, 22, 0.35);
    }
    .hero-banner--article {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    h1 {
      z-index: 1;
      margin-top: $grid-gutter * 1.5;
      flex: 1;
      color: #FFFFFF;
      &::after {
        border-color: #FFFFFF;
      }
    }
  }
  .article-content__wrapper {
    .article-meta__wrapper {
      margin-bottom: $grid-gutter;
    }
  }
  table {
    margin: 0;
    border: 1px solid $color-border;
    display: table;
    min-width: $grid-medium;
    border-collapse: collapse;
    border-spacing: 2px;
  }
  tr {
    &:nth-child(even) {
      background-color: $color-index-section-bg;
    }
    &:last-child td {
      border: none;
    }
  }

  td {
    padding: $grid-gutter-small / 2 $grid-gutter / 2;
    border: 1px solid $color-border;
  }
}
